body {
    background-color: #ffe6e6;
}

.gameTiles {
    text-align: center;
    border: 1px solid black;
    width: 12vw;
    height: 12vw;

    background-color: red;
    display: inline-block;
    margin: 0 -4px 0 0;
    cursor: default;
}
#winGame {
    text-align: center;
    color: mediumvioletred;
    font-size: 4vw;
    font-family: cursive;
    border: dashed mediumvioletred 3px;
    background-color: lightpink;
    width: 80vw;
    height: 45vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: visible;
    display: none;
}
#intro {
    font-family: cursive;
    font-size: larger;
    text-align: center;
    position: relative;
}

#gamePlay {
    position: relative;
    text-align: center;
}
.tileContainer {
    display: inline-block;
}
#stats {
    border: 2px palevioletred solid;
    display: inline-block;
    padding: 0.5%;
}
#errorMessage {
    color:red;
    display: none;
}
#dropping {
    background-color: pink;
}
.button {
    border: mediumvioletred solid 2px;
    display: inline-block;
    width: 35vw;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
#replay:hover {
    background-color: springgreen;
}
#noReplay:hover {
    background-color: plum;
}
#replay:active {
    background-color: yellowgreen;
}
#noReplay:active {
    background-color: violet;
}
/*MAKE FONT SIZE FIXED IN BIGGER SCREENS*/
@media all and (min-width: 57em) {
    .gameTiles {
        font-size: 5em;
        max-width: 13vh;
        max-height: 13vh;
    }
}
/*MAKE FONT SIZE SCALABLE IN SMALLER SCREENS*/
@media all and (max-width: 57em) {
    .gameTiles {
        font-size: 9vw;
    }
}